extends layout

block content
  h1= title
  p あやふやな検索でおっけーです
  p （現在の仕様では検索内容はだれでも見れるので個人情報は書き込まないでください）

  div
    form(method="post", action="/searches")
      div
        input(type="text" name="searchText")
        button(type="submit") 検索
  if user
    div
      p #{user.username}としてログイン中
      a(href="/users/#{user.id}") 〇