extends layout

block content
  h1= title
  p あやふやな検索でおっけーです

  div
    form(method="post", action="/searches")
      div
        input(type="text" name="searchText" required)
        button(type="submit") 検索
  if user
    div
      p #{user.username}としてログイン中
      a(href="/users/#{user.id}") 〇