extends layout

block content
  div(class="mt-5 mb-3")
    h3 人力検索エンジン
    p 検索してもわからなかった疑問を解消するサイト

  div(class="mt-5")
    form(method="post", action="/searches")
      div(class="form-group")
        label(for="searchText" class="sr-only")
        textarea(id="searchText" rows="3" class="form-control" type="text" name="searchText" required)
        button(class="btn btn-info btn1 btn-block" type="submit") 検索

      div
        a(href="/searches/1") ＞＞検索に答えてみる（あなたの一言が解決を導くかも？）
      
      div(class="row")
        p(class="example col-md-12 text-center my-5 lead") たとえばこんな検索をしてみてください
        div(class="search-example col-md-6")
          div(class="search-icon")
            button(class="btn btn-success btn1 btn-block" disabled="disabled")<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          p(class="text-memo" style="width:100%;background:#fff;font-size:11pt;color:#1f3134;-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1),15px 15px 0 -5px #fff,15px 15px 1px -4px rgba(0,0,0,0.2);-moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1),15px 15px 0 -5px #fff,15px 15px 1px -4px rgba(0,0,0,0.2);box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1),15px 15px 0 -5px #fff,15px 15px 1px -4px rgba(0,0,0,0.2);padding:30px;") 10年前の夏ごろ、俳優の●●さんと芸人の●●さんがゲスト出演してた番組内で食べていたかき氷店の名前
        div(class="search-example col-md-6")
          div(class="search-icon")
            button(class="btn btn-warning btn1 btn-block" disabled="disabled")<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          p(class="text-memo" style="width:100%;background:#fff;font-size:11pt;color:#1f3134;-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1),15px 15px 0 -5px #fff,15px 15px 1px -4px rgba(0,0,0,0.2);-moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1),15px 15px 0 -5px #fff,15px 15px 1px -4px rgba(0,0,0,0.2);box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1),15px 15px 0 -5px #fff,15px 15px 1px -4px rgba(0,0,0,0.2);padding:30px;") http://●●●●このサイト内にクレジット決算を追加したいのだが、いい案がないか