extends layout

block content
  if (paramsUser === accessUser.id)
    if (user.sitename === null) 
      ようこそ #{user.username} さま
    else
      p ようこそ #{user.sitename} さま
    h1 ユーザー管理画面
    a(href="/users/edit") ユーザー情報
    p ・名前の変更
    p ・会員情報を削除
  else
    p #{accessUser.username} 様 のユーザーページではありません
    //- TODO redirectするからここ消す