/* 
.example {
  margin: 20px 0 0 0;
  text-align: center;
}
.search-example {
  width: 40%;
  text-align: center;
  margin: 0 5% 0 5%;
  padding: 4%;
}
.search-icon {
  text-align: center;
  margin-bottom: 2%;
}
.search-text {
  padding: 1%;
  border: solid 1px;
}
.text-memo {
  text-decoration: underline;
  padding: 5px;
  letter-spacing: 0.5px;
  line-height: 120%;
}
.search-question {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 5%;
}
.search-answer {
  width: 100%;
  margin: auto;
}
.search-answer .btn2{
  text-align: right;
}
.user {
  margin-bottom: 2%;
} */

.img-size {
  width: 64px;
  height: 64px;
}

.login{
  background:#1DA1F2 ;
  width: 300px;
  margin: auto;
  margin-top: 5%;
  padding-right: 20px;
  text-align: center;
  font-size: 100%;
  position: relative;
}
.login a {
  color: #FFFFFF;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  padding-top: 5%;
  padding-left: 5%;
}
.login img{
  height: 60px;
  padding-right: 50%;
}